body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 1000;
  background-image: url('../images/backimg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

header {
  background: #55d6aa;
}

header:after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  margin: 0;
  padding: 0;
  float: left;
  padding: 10px;
  width: 170px; /* Width of logo */
}



nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
}

nav a {
  color: #3c403d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: black;
}

.container{
  width: 80%;
  margin: 0;
  padding-left: 80px;
}

.content {
  font-family: sans-serif;
  color: white;
  text-align: center;
  /* margin-left: 30px;
  margin-right: 30px; */
}

section{
  display: inline-block;
  width: 100%;
  height: 100vh;
}
section h1{
  /* padding-top: 20px; */
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: #fafafa;
  opacity: 0.8;
}
section h2{
  /* padding-top: 20px; */
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
  color: #fafafa;
  opacity: 0.7;
}
section h3{
  /* padding-top: 20px; */
  justify-content: center;
  align-items: center;
  font-size: 3.4em;
  color: #fafafa;
  opacity: 0.6;
}

.content .section:nth-child(1){
  background-image: url("../images/backimg.jpg");
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:cover; /* Resize the background image to cover the entire container */
  /* opacity: 0.8; */
}

.content .section:nth-child(2){
  background-color: black;

}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p.para{
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
  color: #fafafa;
  opacity: 0.85;
}

p.para a{
  color: white;
  text-decoration: none;


}

#cardio{
  background-image: url(../images/cardio.jpg);
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

#strength{
  background-image: url(../images/strength.jpg);
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

#others{
  background-image: url(../images/others.jpg);
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
